<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" href="#"><img src="/images/site/NGames.png" width="50" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games/page/sale/1">Catálogo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Suporte</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07XL">
            <a class="dropdown-item" href="#">Contato</a>
            <a class="dropdown-item" href="#">Quem somos?</a>
            <a class="dropdown-item" href="#">Como funciona?</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">Painel administrativo</a>
          </li>
          <li class="nav-item">
            <a href="/logout" id="link-nav" class="btn btn-outline-danger">Sair</a>
          </li>
        <% } else {%>
          <li class="nav-item">
              <span class="bi bi-person-fill">
                <a href="/login" id="link-nav" class="btn btn-outline-success">Login</a>
              </span>
          </li>
        <% } %>
      </ul>&nbsp;
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>