<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body> 
    <div class="container">
        <br>
        <h1>Error!</h1>
        <hr>
        <h2><%= message %></h1>
        <hr>
        <% if (link) { %> 
            <h3><a href="/">Voltar para página inicial.</a></h3>
        <% } else { %> 
            <h3><a href="/admin/games">Voltar.</a></h3>
        <% } %>
    </div>
</body>
<hr>
<%- include('partials/footer.ejs') %>