<%- include("partials/header.ejs") %>
<%- include("partials/homenavbar.ejs") %>
    <body>
        <!-- Aqui deve ter um espaço para:
            * Link (<a>) para ir para o link da compra;
            * Link (<a>) com API para o whatssapp para conversar com o vendedor;
            * Um espaço para descrição;
            * Imagem do produto;
            * Nome do produto;
            * Gênero / categoria do produto
            * Etiqueta indicativas ( https://www.bing.com/images/search?view=detailV2&ccid=itbrXs5y&id=F726953E9584D37EF8450D6B1E7311AEA71AE4A5&thid=OIP.itbrXs5yRcqshN6N_CJzpAAAAA&mediaurl=https%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fb%2fb3%2fClassifica%25C3%25A7%25C3%25A3o_Indicativa_-_2006.png&exph=191&expw=282&q=etiqueta+indicativa+para+maiores+de+12&simid=608029010819418175&ck=96729E533C5E2688644EEFE606D6B4E9&selectedIndex=3&ajaxhist=0 )
        -->
    </body>
<%- include("partials/footer.ejs") %>